html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.title {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
}

.center-form {
  text-align: center;
}

.form {
  margin-right: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
