* {
  box-sizing: border-box;
}

body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  margin: 0;
}

.title {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 28%;
}

.center {
  text-align: center;
}

h1 {
  background-color: #BF1717;
  color: #FFF;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  margin-top: 0;
}

.form {
  margin-right: 30px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 30px;
}

@media screen and (max-width: 1080px) {
  .cards {
    justify-content: center;
  }

  .card {
    width: 48%;
  }
}

@media screen and (max-width: 620px) {
  .cards {
    justify-content: center;
  }

  .card {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 835px) {
  .card {
    width: 50%;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .card {
    width: 100%;
    justify-content: center;
  }
}
